body{
    width: 80%;
    background-color: white;
    margin-left: 10%;
}
#contenido{
    width: 80%;
    background-color: antiquewhite;
    padding: 0% 10%;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
nav{
    background-color: bisque;
    border: brown solid 2px;
}
li{
    width: 29%;
    display: inline-block;
    margin: 0% 2%;
    text-align: center;
}
section{
    background-color: bisque;
    border: brown solid 2px;
    margin: 3% 0%;
}