body {
    margin: 0;
}

#audio {
    display: none;
}

#contentbutton {
    background-color: aquamarine;
    width: 100%;
    height: 1000px;
    position: relative; /* Agrega posicionamiento relativo */
    z-index: 0;
}

#comenzar {
    width: 60%;
    height: 100px;
    margin-top: 300px;
    margin-left: 20%;
    font-family: Haettenschweiler;
    font-size: 3em;
    background-color: pink;
    border-radius: 25px;
    position: relative; 
}

#tablero,
#descripcion,
#puntos,
#imagenes {
    position: relative;
}
p{
    margin: 20px;
    margin-left: 30px;
    font-family: Haettenschweiler;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
#imagenes{
    margin: 30px;
}
img{
    height: 200px;
    margin: 20px;
}
style{
    margin: 30px;
    font-family: Haettenschweiler;
    font-size: 1.5em;

}
#memorion{
    height: 50%;
}